*{
    margin: 0;
;
}
body{
    background-color: beige;
    height: 100vh;
}
body header nav{
    background-color: rgb(10, 10, 40);
    text-align: center;
    color: aliceblue;
    font-size: 3.5rem;
    box-shadow: 15px 0px 5px white;
    font-family:'Open Sans', sans-serif;
}
body p{
    margin: 0;
}
.title{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(0, 0, 43);
    text-shadow: 5px 5px 5px white;
    text-align: center;
    font-family:'Open Sans', sans-serif;
    margin-top: 10px;
    
}
.seccion{
    background-color: white;
    box-shadow: 5px 2px 15px black;
    border-radius: 20px;
    font-family:'Open Sans', sans-serif;
    padding: 30px;
    margin: 50px;
}
.seccion div ul{
    list-style-type: none;

    }
.list{
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 2rem;
}
.list ul{
    font-weight: 100;
}
.secondTitle{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 5px rgb(10, 0, 56);
    text-align: center;
    font-family:'Open Sans', sans-serif;
    padding-bottom: 5px;
}
.secondTitlePers{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(10, 0, 56);
    text-shadow: 1px 0px 5px rgb(216, 216, 216);
    text-align: left;
    font-family:'Open Sans', sans-serif;
    margin: 15px 0;

}
.titleDiv{
    font-size: 1rem;
    color: rgb(77, 75, 96);
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
    text-align: justify;
    font-family:'Open Sans', sans-serif;
    margin: 20px 0px;
    text-transform: uppercase;
}
#button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 15px;

}
#button button{
    background-color: rgb(1, 16, 59);
    padding: 5px;
    text-align: center;
    width: 300px;
    align-self: center;
    justify-self: center;
    border-color: white;
}
.presentacionSeg{
    text-transform: none;
    font-weight:900;
    color:rgb(0, 0, 0) ;
    font-size: 1rem;
    font-family:'Open Sans', sans-serif ;
    text-align: left;
    margin-top: 20px;
}
.presentacionSeg li{
    list-style-type: circle;
    text-transform: uppercase;
    
}
.text{
    color: black;
    font-size: 1rem;
    line-height:2.2rem ;
    font-weight: 600;
}
.input{
    color:black;
    border-radius: 5px;
    border-style:groove;

    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 14px;
}
body footer{
    background-color: rgb(10, 10, 40);
    text-align: center;
    color: aliceblue;
    font-size: 2rem;    
}